<head>
	<title>Вредные советы</title>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<meta name="description" content="Вредные советы для разработчиков" />
	
	<link href="./css/style.css" rel="stylesheet" />
	
	<meta name="twitter:card" content="summary" />
	<meta name="twitter:creator" content="@bespoyasov" />
	<meta name="twitter:url" content="https://bespoyasov.ru/evil-advices" />
	<meta name="twitter:title" content="Вредные советы для разработчиков" />
	<meta name="twitter:image" content="https://bespoyasov.ru/evil-advices/cover.jpg">

	<meta property="og:url" content="https://bespoyasov.ru/evil-advices" />
	<meta property="og:type" content="website" />
	<meta property="og:title" content="Вредные советы для разработчиков" /> 
	<meta property="og:image" content="https://bespoyasov.ru/evil-advices/cover.jpg" />
</head>