.footer {
  position: absolute;
  bottom: 20px;
  left:0;
  right:0;
  text-align: center;
  z-index:3;
  font-size: 14px;
  line-height:1.6em;
}

.footer a {
  text-decoration: none;
  color: rgba(0,0,0,.4);
  border-bottom: 1px solid rgba(0,0,0,.1);
  transition: all 0.2s;
}

.footer a:hover {
  color: rgba(0,0,0,1);
  border-color:rgba(0,0,0,.3);
}

.likely {
  margin:0;
  padding:0;
  display:block;
}

@media (max-width: 600px) {
  .likely__button  {
    display:none;
  }
}