html, body {
  margin:0;
  display:flex;
  min-height:100%;
  width:100%;

  font: 22px / 1.6em sans-serif;
  position: relative;
}

.advice {
  margin:auto;
  padding: 3rem 2rem 5rem;
  position: relative;
  z-index:5;
}

.illustration {
  position: absolute;
  right:0;
  bottom:0;
  z-index:1;
  max-width:250px;
  width:30%;
}


@media (max-width: 600px) {
  html, body {
    font-size: 16px;
  }
}