html, body {
  margin:0;
  display:flex;
  min-height:100%;
  width:100%;

  font: 22px / 1.6em sans-serif;
  position: relative;
}

.navigation {
  position: absolute;
  left:0;
  top:50%;
  margin-top:-0.5em;
  font-size:50px;
}

.navigation a {
  position: absolute;
  text-decoration: none;
  color: rgba(0,0,0,.2);
  transition: color 0.2s;
}

.navigation a:hover {
  color: rgba(0,0,0,.4);
}

.navigation a:first-child {
  left: 0;
  margin-left:20px;
}

.navigation a:last-child {
  left: 100vw;
  margin-left: -80px;
}

.advice {
  margin:auto;
  padding: 3rem 2rem 4rem;
  position: relative;
  z-index:5;
}

.illustration {
  position: absolute;
  right:0;
  bottom:0;
  z-index:1;
  max-width:300px;
  width:30%;
}

.likely {
  position: absolute;
  bottom: 20px;
  left:0;
  right:0;
  text-align: center;
  margin:0;
  z-index:3;
}


@media (max-width: 600px) {
  html, body {
    font-size: 16px;
  }

  .likely__button  {
    display:none;
  }
}